<div class="wrapper-filter">
  <form [formGroup]="frmFilter" id="frmFilter">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Tipo de Servicio:" formControlName="typesService" multiple>
            <mat-option *ngFor="let item of typesService" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Titulo de propiedad:" formControlName="typesDocument"  multiple>
            <mat-option *ngFor="let item of typesDocumentsCatalog" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Seguro"   formControlName="typesSeguro" multiple>
            <mat-option *ngFor="let item of secureCatalog" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Revista/Inspección Fisico Mecanica"   formControlName="typeReview">
            <mat-option *ngFor="let item of typesReviews" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Tenencia"   formControlName="typeTenencia">
            <mat-option *ngFor="let item of typesTenencias" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="TC(Tarjeta de Circulación)"   formControlName="typeTC">
            <mat-option *ngFor="let item of typesTC" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </form>

</div>

