<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon *ngIf="router.url== '/report'" (click)="back2Home()" class="cursor-pointer">arrow_back</mat-icon>
    <span> Vehículos </span>
    <span class="example-spacer"></span>
    <mat-icon [matMenuTriggerFor]="menu" class="cursor-pointer">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="download()">Download</button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" style="width: 400px">
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

